<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Majority Poll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/uikit.min.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/uikit.min.js"></script>
    <script type="text/javascript" src="/scripts/uikit-icons.min.js"></script>
  </head>

  <body>
    <header>
      MAJORITY POLL
    </header>
    <div>
<div class="uk-progress" value="10" max="100">
  <div class="progressfluid">
    <span class="Progressnumber">10</span>
  </div>
  
</div> 
    </div>
    <main class="main-container">
      <section class="question-container">
        How much wood could a woodchuck chuck?
      </section>
      <section class="poll-container">
        <hr>
            <li>
                <div class="uk-card uk-card-default uk-card-body">Item 2</div>
              </li>
          <li>

          </li>
        </ul>
        <hr>
      </section>
      <section class="comments-container">
        COMMENTS
      </section>
    </main>
  </body>
</html>