<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Majority Poll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/uikit.min.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/vendor/uikit.min.js"></script>
    <script type="text/javascript" src="/vendor/uikit-icons.min.js"></script>
  </head>

  <body>
    <header>
      MAJORITY VOTE
    </header>
    <main class="main-container">
      <section class="question-container">
        <form class="question-form">
          <div class="uk-margin" id="questions">
            <input class="uk-input main-question" type="text" placeholder="What is your question?" maxlength="200">
            <input class="uk-input choice" type="text" placeholder="Choice #1" maxlength="200">
            <input class="uk-input description" type="text" placeholder="Enter an optional description" maxlength="200">
            <input class="uk-input choice" type="text" placeholder="Choice #2" maxlength="200">
            <input class="uk-input description" type="text" placeholder="Enter an optional description" maxlength="200">
          </div>
          <div class="questions-footer">
            <input class="uk-checkbox" type="checkbox"> Track voter names <br>
            <input class="uk-checkbox" type="checkbox"> Enable comments <br>
            <br>
            <input class="uk-input email" type="text" placeholder="What is your email?"><br>
            <button class="uk-button uk-button-primary" type="submit">Create Poll</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
