<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Majority Poll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/uikit.min.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/vendor/uikit.min.js"></script>
    <script type="text/javascript" src="/vendor/uikit-icons.min.js"></script>
  </head>

  <body>
    <header>
      MAJORITY Poll
    </header>
    <main class="main-container">
      <section class="question-container">
        <%= poll.question %>
      </section>
      <section class="poll-container">
        <hr>
        <ul class="uk-grid-small uk-child-width-1@s uk-text-left" uk-sortable="handle: .uk-card" uk-grid id="choices" data-uk-sortable>
          <% for (answer of answers) { %>
            <li>
            <div class="uk-card uk-card-default uk-card-body"> <%= answer.answer %>
              <p><%= answer.description %></p>
            </div>
          </li>
          <% }; %>
        </ul>
        <hr>
        <button class="uk-button uk-button-primary" type="submit" id="vote">Vote</button>
      </section>
    </main>
    <section class="comments-container">
      COMMENTS
    </section>
  </body>
</html>