<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JD Poll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/uikit.min.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/uikit.min.js"></script>
    <script type="text/javascript" src="/scripts/uikit-icons.min.js"></script>
  </head>

  <body>
    <header>
      SIMPLE JD POLL
    </header>
    <main class="main-container">
      <section class="question-container">
        How much wood could a woodchuck chuck?
      </section>
      <section class="poll-container">
        <hr>
        <ul class="uk-grid-small uk-child-width-1@s uk-text-left" uk-sortable="handle: .uk-card" uk-grid>
          <li>
            <div class="uk-card uk-card-default uk-card-body">Item 1</div>
          </li>
          <li>
            <div class="uk-card uk-card-default uk-card-body">Item 2</div>
          </li>
          <li>
            <div class="uk-card uk-card-default uk-card-body">Item 3</div>
          </li>
          <li>
            <div class="uk-card uk-card-default uk-card-body">Item 4</div>
          </li>
        </ul>
        <hr>
        <button class="uk-button uk-button-primary" type="submit">Vote</button>
      </section>
    </main>
    <section class="comments-container">
      COMMENTS
    </section>
  </body>
</html>